:root{
  --font-main: "BIZ UDPGothic","BIZ UDP ゴシック",system-ui,sans-serif;
  --font-thin: system-ui, -apple-system, sans-serif;

  --border-strong: 2px solid #000;
  --border-normal: 1px solid #333;
  --border-light: 1px dotted #555;

  --cell-w:
  --cell-h: 24px;
}

body{
  margin:0;
  font-family:var(--font-main);
  background:#e8f4ff;
}

#app{
  width:900px;
  margin:20px auto;
}

.title{
  font-size:36px;
}

.card{
  background:#fff;
  border-radius:16px;
  padding:14px;
  margin-bottom:16px;
}

.cardTitle{
  font-weight:900;
}

.note{
  font-size:11px;
  font-weight:400;
  margin-left:8px;
}

.sheet{
  border-collapse:collapse;
}

.sheet th,
.sheet td{
  border:var(--border-normal);
  width:56px;
  height:var(--cell-h);
  text-align:center;
  font-family:var(--font-thin);
}

.sheet{
  border:var(--border-strong);
  border-radius:12px;
  overflow:hidden;
}

.rankWrap{
  overflow-x:auto;
}

.rankTable{
  border-collapse:collapse;
  border:var(--border-strong);
  border-radius:12px;
}

.rankTable td,
.rankTable th{
  border-right:var(--border-normal);
  border-bottom:var(--border-light);
  font-family:var(--font-thin);
}

.rankTable tr.sep td{
  border-top:var(--border-strong);
}

.outLine{
  border:1px solid #bbb;
  padding:6px 8px;
  font-family:var(--font-thin);
}

.outLine.wrap{
  white-space:normal;
}

.autoCopyMsg{
  font-size:11px;
  font-weight:700;
}
